/* Estilos para el componente BetHistoryPopup */
.bet-history-popup {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd; /* Añade un borde para separar el contenido */
    border-radius: 8px; /* Añade bordes redondeados */
    background-color: #fff; /* Fondo blanco */
}

.popup-title {
    text-align: center;
    margin-bottom: 20px; /* Añade espacio inferior para separar el título de la tabla */
}

.bet-table {
    width: 100%;
    border-collapse: collapse;
}

.bet-table th,
.bet-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.bet-table th {
    background-color: #f2f2f2;
}

.bet-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para la barra de paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px; /* Reducir el padding para hacer el contenedor más pequeño */
}

.pagination-button {
    flex: 2; /* Ajusta el tamaño del botón de paginación al doble */
    background-color: #a7b85f;
    color: white;
    padding: 8px; /* Ajuste del padding para reducir el tamaño */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 20px; /* Reduce el margen para que sea igual al de las flechas */
    transition: background-color 0.1s;
}

.pagination-arrow {
    flex: 1; /* Ajusta el tamaño de la flecha de paginación */
    background-color: #a7b85f;
    color: white;
    padding: 8px 30px; /* Ajuste del padding horizontal para reducir el espacio */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 30px; /* Mantiene el mismo margen horizontal */
    transition: background-color 0.1s;
}

.pagination-button:hover {
    background-color: #45a049;
}

.pagination-info {
    display: flex;
    align-items: center;
    margin: 0; /* Elimina el margen */
}


