.bet-history-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 90%;
  }
  
  .popup-title {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .bet-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .bet-table th,
  .bet-table td {
    padding: 7px;
    border: 1px solid #000; /* Bordes sólidos y de color negro */
  }
  
  .bet-table th {
    background-color: #f2f2f2;
  }
  
  .bet-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
  }
  
  .pagination-button {
    background-color: #a7b85f;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.1s;
  }
  
  .pagination-arrow {
    background-color: #a7b85f;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.1s;
  }
  
  .pagination-button:hover,
  .pagination-arrow:hover {
    background-color: #45a049;
  }
  
  .pagination-info {
    display: flex;
    align-items: center;
  }
  
  .pagination-button:disabled,
  .pagination-arrow:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  