.join-bet-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative; /* Establecer posición relativa para alinear el mensaje de error */
}

.join-bet-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 60px; /* Ajustar la distancia desde la parte inferior del contenedor */
}

.success-message {
  color: #00cc00;
  font-weight: bold;
  text-align: center;
}

.join-bet-form {
  display: flex;
  flex-direction: column;
}

.join-bet-form label {
  margin-bottom: 6px;
}

.join-bet-form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#betId {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.join-bet-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-bet-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}