.join-bet-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative; /* Establecer posición relativa para alinear el mensaje de error */
}

.join-bet-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
  transform: translateX(-50%) translateY(-150%);
  width: 50%; /* Ancho del contenedor */
  padding: 20px; /* Ajustar el tamaño del contenedor */
  background-color: #ffeeee; /* Cambiar el color de fondo */
  border: 2px solid #ff0000; /* Añadir borde */
  border-radius: 5px; /* Añadir bordes redondeados */
}


.success-message {
  color: #00cc00;
  font-weight: bold;
  text-align: center;
}

.join-bet-form {
  display: flex;
  flex-direction: column;
}

.join-bet-form label {
  margin-bottom: 6px;
}

.join-bet-form input {
  width: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#betId {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-self: flex-start; /* Alinear a la izquierda */

}
#betPassword {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  align-self: flex-start; /* Alinear a la izquierda */
  margin-left: 10px; 
}

.join-bet-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-bet-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}