.bet-item {
  border: 1px solid #e91616;
  border-radius: 5px; 
  margin: 5px auto; 
  padding: 5px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  max-width: 400px; 
}

/* Información de la apuesta */
.bet-info {
  flex-grow: 1; 
  text-align: center; 
}

/* Título de la apuesta */
.bet-title {
  font-weight: bold;
  font-size: 16px; 
  margin-bottom: 5px; 
  text-align: center; 
}

/* Prefijo del título */
.title-prefix {
  font-weight: bold;
  color: #007bff; 
}

/* Detalles de la apuesta */
.bet-details {
  text-align: center; 
}

/* Paginación */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-button,
.pagination-arrow {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination-button:disabled,
.pagination-arrow:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo del pop-up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

/* Mensaje de error */
.error-message {
  color: #ff0000; 
  font-size: 20px; 
  text-align: center;
  padding: 50px;
  border: 2px solid #dc3545; 
  border-radius: 10px;
  max-width: 600px; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message-link {
  color: #ff0000; 
  text-decoration: none; 
  font-weight: bold; 
}

.filters-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filters {
  margin-left: auto;
  margin-right: 20px;
}

.filters select {
  padding: 5px;
}

/* Estilos para el botón */
button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #ff5555; 
  width: 240px; /* Aumentar el ancho del botón */
  padding: 3px 15px; 
}

.cancel-button:hover {
  background-color: #ff0000; 
}

.no-bets-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da; 
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  border-radius: 5px; 
}

/* Estilo para el enlace dentro del mensaje */
.no-bets-message a {
  color: #721c24; 
  text-decoration: underline; 
}

.wait-message {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #800000;
  padding: 15px;
  border-radius: 6px;
  text-align: center; 

}
