/* Profile.css */

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.profile-section .section-title {
    color: blue; /* Color azul para los títulos de las secciones */
    text-decoration: underline;  /* Elimina el subrayado de los enlaces en la sección "Depositar" */
  
}
.profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.profile-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-section:hover {
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ventana-emergente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-ventana {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabla-usuario {
    margin-top: 20px;
}

.tabla-usuario table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #dee2e6; /* Grosor y color del borde de la tabla */
}

.tabla-usuario th,
.tabla-usuario td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6; /* Grosor y color de las líneas horizontales */
    border-right: 1px solid #dee2e6; /* Grosor y color de las líneas verticales */
}

.tabla-usuario th {
    background-color: #343a40;
    color: #fff;
    text-align: left;
}

.tabla-usuario tbody tr:last-child td {
    border-bottom: none;
}

.boton-cerrar-ventana {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-cerrar-ventana:hover {
    background-color: #c82333;
}


/* Estilos adicionales para secciones de Información Personal y Cuenta */
.secciones {
    display: flex;
    flex-direction: column;
}

.envoltorio-seccion {
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.envoltorio-seccion:hover {
    border-color: #007bff;
}

.titulo-seccion {
    margin: 0;
    color: #007bff;
}

.password-change-form {
    max-width: 400px;
    margin: 0 auto;
}

.password-change-form label {
    display: block;
    margin-bottom: 5px;
}

.password-change-form input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.password-change-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-change-form button:hover {
    background-color: #0056b3;
}

/* Estilos para el formulario de verificación de cuenta */
.verification-docs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.doc-input {
    flex: 1;
    margin-right: 10px;
}

.doc-input label {
    display: block;
    margin-bottom: 5px;
}

.doc-input input[type="file"] {
    width: calc(100% - 20px); /* Reducimos el padding del input para que sea más ancho */
    padding: 8px 10px; /* Ajustamos el padding para mantener la apariencia */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Aumentamos el tamaño del texto */
}

.verification-docs label {
    font-weight: bold;
}

.verification-docs p {
    margin-bottom: 10px;
}

/* Estilos para el formulario de excluir usuario y deshabilitar cuenta en el popup */
.form-section {
    margin-bottom: 20px;
}

.form-section h4 {
    margin-bottom: 10px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-section label {
    margin-bottom: 5px;
}

.form-section input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-section button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-section button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de cerrar en el formulario popup */
.popup-content .popup-close-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content .popup-close-btn:hover {
    background-color: #c82333;
}
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
  }
  
  .form-section {
    text-align: center; /* Centra el contenido del formulario */
  }
