.roulette-container {
  text-align: center;
}

.winner-number {
  font-weight: bold;
  color: green; /* Color del número ganador */
}

.roulette-wheel {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 50px auto;
  background-color: #1e6e1e; /* Color de fondo de la ruleta */
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
}

.roulette-number {
  position: absolute;
  width: 20px; /* Ajuste el ancho y alto según sea necesario para centrar los números */
  height: 20px; /* Ajuste el ancho y alto según sea necesario para centrar los números */
  line-height: 50px;
  left: 185px;
  top: 190px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white; /* Color de los números */
}

.roulette-number.highlighted {
  background-color: yellow; /* Color de fondo cuando el número está iluminado */

}

.roulette-number.selected {
  background-color: cyan; /* Color de fondo del número seleccionado */
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red; /* Color de la bola */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
