.transaction-history-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 80%;
}

.transaction-history-popup-content {
  text-align: center;
}

.transaction-history-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.transaction-history-table th, .transaction-history-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.transaction-history-table th {
  background-color: #f2f2f2;
}

.transaction-history-close-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

