/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.App-logo-container {
  margin-left: 20px; /* Ajusta el margen izquierdo del logo */
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929; /* Color de fondo para la barra de navegación */
  padding: 10px 20px; /* Espaciado interno */
  border-bottom: 2px solid #ffcc00; /* Borde inferior */
}

.language-selector {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  align-items: center; /* Alinea los elementos verticalmente al centro */
}

.language-button {
  cursor: pointer;
  font-size: 16px;
  color: #000;
}

.flag-button,
.flag-button-uk {
  background: none;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-right: 0px;
}

.flag-icon {
  width: 30px;
  height: auto;
}

.active {
  border: 1px solid rgb(255, 0, 0); /* Establece un borde azul al botón activo */
}


.nav-list {
  list-style-type: none; /* Eliminar viñetas de la lista */
  margin: 0;
  padding: 0;
}
.nav-item.balance-item {
  color: #fff;
  font-size: 17px;
  margin-left: 10px;
  border: 2px solid red; /* Establece un borde transparente por defecto */
  padding: 5px 10px; /* Añade algo de espacio alrededor del texto */
  border-radius: 6px; /* Borde redondeado */
  transition: border-color 0.3s; /* Transición suave del color del borde */
}

.nav-item.balance-item:hover {
  border-color: yellow; /* Cambia el color del borde a amarillo al pasar el ratón */
}

.nav-item.balance-item:active {
  border-color: red; /* Cambia el color del borde a amarillo cuando se hace clic */
}


.nav-item {
  display: inline-block; /* Asegura que los elementos estén en línea */
  padding: 8px; /* Espaciado interno */
  margin: 0 20px; /* Margen entre elementos */
  border-radius: 6px; /* Borde redondeado */
  transition: border-color 0.1s; /* Transición suave del color del borde */
}

.nav-item a {
  text-decoration: none; /* Eliminar subrayado de enlaces */
  color: #ffffff; /* Color de texto */
  font-size: 16px; /* Tamaño de fuente */
  transition: color 0.3s; /* Transición suave de color */
}

.balance-item {
  color: #fff; /* Color del texto */
  font-size: 17px; /* Tamaño de fuente aumentado */
  margin-left: 20px; /* Espacio a la izquierda */
}

.balance-item::after {
  content: "\20AC "; /* Símbolo del euro */
  font-size: 18px; /* Tamaño del símbolo del euro */
}

.dropdown-container-traditional{   
  left: -95px; /* Ajusta la posición horizontal a la izquierda */
  position: absolute;
}
.dropdown-container {   
  left: 250px; /* Ajusta la posición horizontal a la izquierda */
  position: absolute;
}

.nav-item-button {
  padding: 5px 20px;
  width: 200px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  align-items: center;
}

/* Estilos para el footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Esto empuja el footer al final del contenedor */
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  margin-right: 50px; /* Espacio entre elementos del footer */
  align-items: center;
}
.content-container {
  flex: 1; /* Esto asegura que el contenido ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column;
}