/* App.css */

.App-logo-container {
  margin-left: 100px; /* Agrega un espacio a la izquierda del logo */
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929; /* Color de fondo para la barra de navegación */
  padding: 10px 20px; /* Espaciado interno */
  border-bottom: 2px solid #ffcc00; /* Borde inferior */
}

.language-selector {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: -45px;
  margin-left: 1750px;
}
.language-selector button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}
.flag-icon {
  width: 30px; /* ajusta el tamaño según tus necesidades */
  height: auto; /* mantiene la proporción */
  margin-right: 5px; /* opcional: agrega un margen entre las imágenes */
}

.nav-list {
  list-style-type: none; /* Eliminar viñetas de la lista */
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block; /* Asegura que los elementos estén en línea */
  padding: 8px; /* Espaciado interno */
  margin: 0 40px; /* Margen entre elementos */
  border: 2px solid #ff0000; /* Borde rojo */
  border-radius: 6px; /* Borde redondeado */
  transition: border-color 0.1s; /* Transición suave del color del borde */
}

.nav-item a {
  text-decoration: none; /* Eliminar subrayado de enlaces */
  color: #ffffff; /* Color de texto */
  font-size: 16px; /* Tamaño de fuente */
  transition: color 0.3s; /* Transición suave de color */
}

.nav-item:hover {
  border-color: #ffcc00; /* Cambia el color del borde al pasar el cursor */
}

.nav-item a:hover {
  color: #ffcc00; /* Cambiar color al pasar el cursor */
}

.balance-item {
  color: #fff; /* Color del texto */
  font-size: 17px; /* Tamaño de fuente aumentado */
  margin-left: 20px; /* Espacio a la izquierda */
}

.balance-item::after {
  content: "\20AC "; /* Símbolo del euro */
  font-size: 18px; /* Tamaño del símbolo del euro */
}

.dropdown-container {
  position: absolute; /* Establece la posición absoluta para el contenedor */
  margin-top: -36px;
}

.dropdown-container-traditional {
  position: absolute;
  margin-top: -36px;
  margin-left: 300px;
}

.leaderboards {
  position: absolute;
  margin-top: -95px;
  margin-left: 825px;
}

.questions {
  position: absolute;
  margin-top: -95px;
  margin-left: 990px;
}

.nav-item-button {
  padding: 8px 20px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.nav-item-button:hover {
  background-color: forestgreen;
}
/* App.css */

/* Estilos para el footer */
.footer {
  position: fixed; /* Posición fija */
  bottom: 0; /* Colocar en la parte inferior */
  width: 100%; /* Ancho completo */
  background-color: #292929; /* Color de fondo para el footer */
  color: #fff; /* Color de texto para el footer */
  padding: 20px; /* Espaciado interno */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  margin-right: 50px; /* Espacio entre elementos del footer */
  align-items: center;
}
