
/* App.css */

.App-logo-container {
  margin-left: 100px; /* Agrega un espacio a la izquierda del logo */
}
/* App.css */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929; /* Color de fondo para la barra de navegación */
  padding: 10px 20px; /* Espaciado interno */
  border-bottom: 2px solid #ffcc00; /* Borde inferior */
}

.nav-list {
  list-style-type: none; /* Eliminar viñetas de la lista */
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block; /* Asegura que los elementos estén en línea */
  padding: 8px; /* Espaciado interno */
  margin: 0 40px; /* Margen entre elementos */
  border: 2px solid #ff0000; /* Borde rojo */
  border-radius: 6px; /* Borde redondeado */
  transition: border-color 0.1s; /* Transición suave del color del borde */
}


.nav-item a {
 text-decoration: none; /* Eliminar subrayado de enlaces */
  color: #ffffff; /* Color de texto */
  font-size: 16px; /* Tamaño de fuente */
  transition: color 0.3s; /* Transición suave de color */
}
.nav-item:hover {
  border-color: #ffcc00; /* Cambia el color del borde al pasar el cursor */
}
.nav-item a:hover {
  color: #ffcc00; /* Cambiar color al pasar el cursor */}
